<%= form_with(model: job) do |form| %>
  <% if job.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% job.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group mb-3">
    <%= form.label :業務, style: "display: block", class:"input-group-text" %>
    <%= form.text_field :duedate, class:"form-control"%>
  </div>
  <div class="input-group mb-3">
    <%= form.label :部署, style: "display: block", class:"input-group-text" %>
    <%= form.text_field :department, class:"form-control"%>
  </div>
  <div class="input-group mb-3">
    <%= form.label :業務, style: "display: block", class:"input-group-text" %>
    <%= form.text_field :job, class:"form-control"%>
  </div>        
  <div class="input-group mb-3">
    <%= form.label :状況, style: "display: block", class:"input-group-text" %>
    <%= form.text_field :status, class:"form-control"%>
  </div> 
  <div>
    <%= form.submit :作成, class:"btn btn-primary mt-3" %>
  </div>
<% end %>
