<div id="<%= dom_id job %>">
  <p>
    <strong>納期:</strong>
    <%= job.duedate %>
  </p>

  <p>
    <strong>部署:</strong>
    <%= job.department %>
  </p>

  <p>
    <strong>業務:</strong>
    <%= job.job %>
  </p>

  <p>
    <strong>状況:</strong>
    <%= job.status %>
  </p>

</div>
