<div id="<%= dom_id job %>">
  <h6><%= pluralize(job.views, "view") %></h6>
  <p>
    <strong>Employee:</strong>
    <%= job.employee %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= job.department %>
  </p>

  <p>
    <strong>Job:</strong>
    <%= job.job %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= job.status %>
  </p>
  
</div>
