<table id="<%= dom_id job %>" class="table">
  <tr>
    <th><strong><%= t('field.department') %></strong></th>
    <td><%= job.department %></td>
  </tr>
  <tr>
    <th><strong><%= t('field.jobs') %></strong></th>
    <td><%= job.job %></td>
  </tr>
  <tr>
    <th><strong><%= t('field.duedate') %></strong></th>
    <td><%= job.duedate %></td>
  </tr>
  <tr>
    <th><strong><%= t('field.status') %></strong></th>
    <td><%= job.status %></td>
  </tr>

</table>
