<div class="container">
  <h1>業務一覧</h1>
  <%= link_to "新規", new_job_path %>
  <table class="table table-striped" id="jobs">
    <thead class="table-dark">
      <tr>
        <th>名前</th>
        <th>部署</th>
        <th>業務</th>
        <th>納期</th>
        <th>状況</th>
        <th>閲覧回数</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr id="<%= dom_id job %>">
          <td>
            <%= link_to job.user.name, user_path(job.user) %>
          </td>
          <td>
            <%= job.department %>
          </td>
          <td>
            <%= link_to job.job, job %>
          </td>
          <td>
            <%= job.duedate %>
          </td>
          <td>
            <%= job.status %>
          </td>
          <td>
            <%= pluralize(job.views, "view") %>
          </td>
          <td>
              <%= link_to "削除", job_path(job), data: {turbo_method: :delete, turbo_confirm: "削除しますか？"}, class:"btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>